<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">AMD Ryzen 5 5600X</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <img src="assets/images/Ryzen_5_5600X.jpg" class="card-img-bottom" alt="AMD Ryzen 5 5600X">
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Order Now!</a></div>
            </div>
        </div>
        <!-- Intel i5-12400F kártya és képe -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Intel i5-12400F</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <img src="assets/images/i5_12400F.jpg" class="card-img-bottom" alt="Intel i5-12400F" style="width: 50%; margin-bottom: 22%; margin-left: 25%;">
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Order Now!</a></div>
            </div>
        </div>
        <!-- AMD Ryzen 7 7800X3D kártya és képe -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">AMD Ryzen 7 7800X3D</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <img src="assets/images/Ryzen_7_7800X3D.jpg" class="card-img-bottom" alt="AMD Ryzen 7 7800X3D" style="width: 55%; margin-bottom: 22%; margin-left: 23%;">
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Order Now!</a></div>
            </div>
        </div>
    </div>
</div>
